<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclerview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".span.SpanActivity" />
        <activity android:name=".header.HeaderActivity" />
        <activity android:name=".visiblestate.StateActivity" />
        <activity android:name=".refresh.RefreshActivity" />
        <activity android:name=".add.AddActivity" />
        <activity android:name=".fall.FallActivity"/>
        <activity android:name=".marquee.MarqueeActivity"/>
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.ChatActivity1" />
        <activity android:name=".third.activity.ThirdActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".test.TestActivity1" />
        <activity android:name=".cache.CacheActivity" />
        <activity
            android:name=".third.activity.LinearVerticalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.LinearHorizontalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.GridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.StaggeredGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.TypeViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.ItemDecorationAnimatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.HeadFootViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.TouchHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.ItemClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.MyLayoutManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.NestedScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.DependencyViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".third.activity.ScrollViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".flowlayout.FlowlayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flowlayout.FlowlayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flowlayout.FlowlayoutListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movie.MovieActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>